.reset_password_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    border: 1px solid grey;
    padding: 10px 20px;
    margin: 5px;
}

.reset_password_form__submit_button {
    width: 200px;
    margin: 0 auto;
}
